<section class="inventario p-4">
    <div class="inventario-header d-flex align-items-center justify-content-between pb-2">
        <h2>Inventario</h2>
        <button (click)="openModalAgregarProducto()" type="button" class="btn btn-dark">Agregar producto</button>
    </div>
    <div class="inventario-body">
        <div class="table-responsive">
            <table class="table table-hover inventario-body-table">
              <thead class="thead-dark">
              <tr>
                <th scope="col">Imagen</th>
                <th scope="col">Nombre</th>
                <th scope="col">Marca</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Fecha V.</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of productos">
                <th scope="row">{{producto.imagen}}</th>
                <td>{{producto.nombre}}</td>
                <td>{{producto.marca}}</td>
                <td>{{producto.cantidad}}</td>
                <td>{{producto.precio}}</td>
                <td>{{producto.fecha_vencimiento}}</td>
              </tr>
            </tbody>
            </table>
        </div>
    </div>
</section>