<section class="inventario p-4">
  <div class="inventario-header d-flex align-items-center justify-content-between pb-2">
      <h2>Inventario</h2>
      <button [disabled]="!isLoaded" (click)="openModalAgregarProducto()" type="button" class="btn btn-dark">Agregar producto</button>
  </div>
  <div class="inventario-body">
      <div class="table-responsive">
          <table class="table inventario-body-table">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">Imagen</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Marca</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Fecha V.</th>
                  </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="isLoaded; else loadingContent">
                  <ng-container *ngIf="productos.length > 0; else noProductos">
                    <!-- Filas de la tabla cuando hay productos -->
                    <tr *ngFor="let producto of productos">
                      <td scope="row">
                        <img [src]="producto.imagen" alt="" width="50px" height="50px">
                      </td>
                      <td [title]="producto.nombre">{{ (producto.nombre.length > 25) ? (producto.nombre | slice:0:25) + '...' : producto.nombre }}</td>
                      <td>{{producto.marca}}</td>
                      <td>{{producto.cantidad}}</td>
                      <td>{{'$'+producto.precio}}</td>
                      <td>{{producto.fecha_vencimiento.year + '/' + producto.fecha_vencimiento.month + '/' + producto.fecha_vencimiento.day}}</td>
                    </tr>
                  </ng-container>
                  <ng-template #noProductos>
                    <!-- Fila cuando no hay productos -->
                    <tr>
                      <td colspan="6" class="text-center">No hay productos disponibles.</td>
                    </tr>
                  </ng-template>
                </ng-container>
                <!-- Filas de carga cuando los productos se están cargando -->
                <ng-template #loadingContent>
                  <tr *ngFor="let _ of [1, 2, 3, 4, 5]">
                    <td scope="row"><img class="loading-image" alt="" width="50px" height="50px"></td>
                    <td><span class="loading-text-large"></span></td>
                    <td><span class="loading-text-large"></span></td>
                    <td><span class="loading-text-short"></span></td>
                    <td><span class="loading-text-short"></span></td>
                    <td><span class="loading-text-short"></span></td>
                  </tr>
                </ng-template>
              </tbody>
              
          </table>
      </div>
  </div>
</section>
