<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar producto</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModalAgregarProducto()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="formulario">
        <div class="input-group mb-3">
            <input (change)="obtenerImagenProducto($event)" formControlName="imagen" type="file" accept="image/*" class="form-control" id="imagen" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        </div>
        <div class="mb-3">
            <input [ngClass]="{ 'invalid-input': formulario.get('nombre')!.invalid && formulario.get('nombre')!.touched }" formControlName="nombre" [placeholder]="'Nombre'" type="text" class="form-control" id="nombre" aria-describedby="emailHelp">
            <div *ngIf="formulario.get('nombre')!.invalid && formulario.get('nombre')!.touched">
                <p class="invalid-text" *ngIf="formulario.get('nombre')!.hasError('required')">El nombre es obligatorio.</p>
            </div>
        </div>
        <div class="input-group mb-3">
            <select [ngClass]="{ 'invalid-input': formulario.get('marca')!.invalid && formulario.get('marca')!.touched }" formControlName="marca" class="form-select" id="inputGroupSelect02">
              <option value="" disabled selected>Selecciona una marca</option>
              <option *ngFor="let marca of marcas" [value]="marca">{{ marca | uppercase }}</option>
              <option value="nueva_marca">AGREGAR MARCA</option>
            </select>      
            <!-- Nuevo campo de entrada que se mostrará cuando la opción "AGREGAR MARCA" esté seleccionada -->
            <div *ngIf="formulario.get('marca')!.value === 'nueva_marca'">
              <input [ngClass]="{ 'invalid-input': formulario.get('nuevaMarca')!.invalid && formulario.get('nuevaMarca')!.touched }" formControlName="nuevaMarca" id="nuevaMarca" class="form-control ms-2" placeholder="Nueva marca" />
            </div>
            <div class="w-100" *ngIf="formulario.get('marca')!.invalid && formulario.get('marca')!.touched">
              <p class="invalid-text" *ngIf="formulario.get('marca')!.hasError('required')">La marca es obligatoria.</p>
            </div>
            <div class="w-100" *ngIf="formulario.get('nuevaMarca')!.invalid && formulario.get('nuevaMarca')!.touched">
                <p class="invalid-text" *ngIf="formulario.get('nuevaMarca')!.hasError('required')">La marca es obligatoria.</p>
              </div>
          </div>
        <div class="mb-3">
            <input (input)="formatearCantidad($event)" [ngClass]="{ 'invalid-input': formulario.get('cantidad')!.invalid && formulario.get('cantidad')!.touched }" formControlName="cantidad" [placeholder]="'Cantidad'" type="text" class="form-control" id="cantidad" aria-describedby="emailHelp">
            <div class="w-100" *ngIf="formulario.get('cantidad')!.invalid && formulario.get('cantidad')!.touched">
                <p class="invalid-text" *ngIf="formulario.get('cantidad')!.hasError('required')">La cantidad es obligatoria.</p>
                <p class="invalid-text" *ngIf="formulario.get('cantidad')!.hasError('max')">La cantidad no puede superar los 100,000.</p>
            </div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                    <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                </svg>
            </span>
            <input (input)="formatearPrecio($event)" [ngClass]="{ 'invalid-input': formulario.get('precio')!.invalid && formulario.get('precio')!.touched }" formControlName="precio" [placeholder]="'Precio unitario'" type="text" id="precio" class="form-control" aria-label="precio">
            <div class="w-100" *ngIf="formulario.get('precio')!.invalid && formulario.get('precio')!.touched">
                <p class="invalid-text" *ngIf="formulario.get('precio')!.hasError('required')">El precio es obligatorio.</p>
            </div>
        </div>
        <div class="input-group mb-3">
            <span (click)="datepicker.toggle()" class="input-group-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                    <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                </svg>
            </span>
            <input 
            [ngClass]="{ 'invalid-input': formulario.get('fecha_vencimiento')!.invalid && formulario.get('fecha_vencimiento')!.touched }"
            id="fecha_vencimiento"
            class="form-control"
            placeholder="Fecha de vencimiento AAAA-MM-DD"
            name="datepicker"
            formControlName="fecha_vencimiento"
            ngbDatepicker
            #datepicker="ngbDatepicker"/>
            <div class="w-100" *ngIf="formulario.get('fecha_vencimiento')!.invalid && formulario.get('fecha_vencimiento')!.touched">
                <p class="invalid-text" *ngIf="formulario.get('fecha_vencimiento')!.hasError('required') && formulario.get('fecha_vencimiento')!.touched">La fecha de vencimiento es obligatoria.</p>
                <p class="invalid-text" *ngIf="formulario.get('fecha_vencimiento')!.invalid && formulario.get('fecha_vencimiento')!.touched && formulario.get('fecha_vencimiento')!.value">El formato de la fecha es erróneo.</p>
            </div>
            
        </div>
    </form>
</div>
<div class="modal-footer">
    <ng-container *ngIf="!agregandoProducto ; else cargandoProducto">
        <button type="button" class="btn btn-outline-dark" (click)="agregarProducto()" [disabled]="formulario.invalid">Agregar producto</button>
    </ng-container>
    <ng-template #cargandoProducto>
        <button class="btn btn-outline-dark" type="button" disabled>
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span class="ps-1" role="status">Cargando...</span>
          </button>
    </ng-template>
</div>

