.lateral-dashboard {
    height: 100%;
    background-color: #fff;
    text-align: center;
}

.inventario, .ventas, .compras {
    height: 100%;
    &-header {
        height: 7%;
    }
    &-body {
        height: 93%;
        .table-responsive {
            height: 100%;
            td {
                vertical-align: middle;
            }
        }
    }

}
