/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
    height: 100vh;
    .active {
        z-index: 2 !important;
        color: #ffffff !important; 
        background-color: #2A7F62 !important; 
        border-color: #2A7F62 !important;   
    }
}
