/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
    height: 100vh;
    .active {
        z-index: 2 !important;
        color: #ffffff !important; 
        background-color: #2A7F62 !important; 
        border-color: #2A7F62 !important;   
    }

    app-lateral-dashboard, app-lateral-menu {
        border: 0.5px solid #e6e6e6;
    }
    app-lateral-menu {
        border-right: none;
    }

    table {
        th {
            background-color: #2A7F62 !important;
            opacity: 1;
            color: #ffffff !important;
        }
    }
    p {
        margin: 0;
    }
    .invalid-input {
        border: 1px solid rgb(248, 100, 100)
    }
    .invalid-text {
        color: rgb(248, 100, 100)
    }
    .spinner-border {
        color: #2A7F62;
    }

    ngb-toast {
        z-index: 1000;
    }

    .toast {
        background-color: #2A7F62 !important;
        color: #ffffff !important;
    }

    .error-toast {
        background-color: #f86464 !important;
        color: #ffffff !important;
    }

    /* Estilo del scrollbar */
    ::-webkit-scrollbar {
        width: 10px; /* Ancho del scrollbar */
    }
    
    /* Estilo del track del scrollbar (la parte no desplazada) */
    ::-webkit-scrollbar-track {
        background-color: #b8b8b84f; /* Color del fondo del track */
    }
    
    /* Estilo del thumb del scrollbar (la parte desplazada) */
    ::-webkit-scrollbar-thumb {
        background-color: #888; /* Color del thumb */
        border-radius: 6px; /* Bordes redondeados del thumb */
    }
    
    /* Estilo del thumb cuando se está moviendo */
    ::-webkit-scrollbar-thumb:hover {
        background-color: #555; /* Cambia el color del thumb al pasar el ratón sobre él */
    }

  
}

